[dev-packages]
mock = "*"
pylint = "*"
pytest = "==3.6.3"
python-dateutil = "*"

[packages]
"discord.py" = "*"
sqlalchemy = "*"
tzlocal = "*"

# Don't install matplotlib through pypi on arm
matplotlib = { version = "*", platform_machine = "!= 'armv7l'" }
