[dev-packages]
mock = "*"
pylint = "*"
pytest = "==3.6.3"
python-dateutil = "*"

[packages]
"discord.py" = "*"
sqlalchemy = "*"
tzlocal = "*"
# Don't install as this takes ages on rpi
# matplotlib = "*"
